extends ../views/_default

//- mixins
include ../components/meta/meta

block var
    -
        var fonts = [
            'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=latin,cyrillic'
        ];

        var css = [
            
        ];

        var js = [
            
        ];

block head
    +meta('', '', css, js, fonts)

block body
    block header
        header
            h1 All done!
    block main
        main
            ul.slick-slider.slick
                li.slick-item 1
                li.slick-item 2
                li.slick-item 3
                li.slick-item 4
                li.slick-item 5
                li.slick-item 6
    block footer
        footer
