doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        block favicon
            link(rel="icon" href="favicon.ico" sizes="48x48" type="image/vnd.microsoft.icon")

        block title
            - var title = 'Start page'
        title #{title}

        block styles
            link(rel="stylesheet" href="css/extended.css")
            link(rel="stylesheet" href="css/style.css")

        block js
            script(src="js/common-bundle.js")

    body
        main
            block sections

    block footer
        footer
